<div class="image-container">
    <img src="/assets/images/static/profilepic.jpg" width=100>
    <p class="txt-container">
            Trevor Seward is a Microsoft <a href="https://mvp.microsoft.com/en-us/PublicProfile/4039997">Office Apps and Services MVP</a> who specializes in SharePoint Server administration, hybrid scenarios, and SharePoint Online. He has been working with SharePoint for 16 years from SharePoint 2003 on up, managing environments with terabytes of content for 150,000+ user organizations. Trevor is an author of <a href="https://www.amazon.com/Deploying-SharePoint-2016-Configuring-Maintaining/dp/1484219988"><i>Deploying SharePoint 2016</i></a> and <a href="https://www.amazon.com/Deploying-SharePoint-2019-Configuring-Premises/dp/1484245253"><i>Deploying SharePoint 2019</i></a>.
    
            You can find him on <a href="https://twitter.com/NaupliusTrevor">Twitter</a> and in <a href="https://old.reddit.com/r/sharepoint">/r/sharepoint</a>.
    </p>
</div>